<div class="footer">
      <div class="container">
        <div class="col-md-3">
          <img class="footer__logo" src="/img/mozilla.svg" />
        </div>
        <div class="col-md-4">
          <h4>Additional Resources:</h4>
          <ul class="footer__list">
            <li><a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions?utm_source=hacks&utm_medium=social&utm_campaign=webextensions&utm_content=mdn_webextensions" target="_blank">Extension documentation on MDN</a></li>
            <li><a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_Google_Chrome_extension" target="_blank">How to port a Chrome extension</a></li>
            <li><a href="https://developer.mozilla.org/en-US/Add-ons#Contact_us" target="_blank">Contact us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Find a bug?</h4>
          <ul class="footer__list">
            <li><a href="https://github.com/mozilla/webext-compat-tool/issues" target="_blank">Let us know on Github</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4>Test locally:</h4>
          <ul class="footer__list">
            <li><a href="https://www.npmjs.com/package/web-ext" target="_blank">web-ext CLI tool</a></li>
          </ul>
        </div>
        <ul class="footer__legal clearfix">
          <li><a href="https://www.mozilla.org/en-US/privacy/" target="_blank">Privacy</a></li>
          <li><a href="https://www.mozilla.org/en-US/privacy/websites/#cookies" target="_blank">Cookies</a></li>
          <li><a href="https://www.mozilla.org/en-US/about/legal/" target="_blank">Legal</a></li>
        </ul>
      </div>
    </div>
