<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" sizes="196x196" href="/img/favicon.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Extension Compatibility Tester</title>
  </head>
  <body>

    <div class="hero hero--full text-center">
      <div class="container">
        <img class="hero__logo" src="/img/fflogo.png" alt="Firefox Logo"  />
        <h1 class="hero__title">Extension Compatibility Test for Firefox</h1>
        <div class="col-md-6 col-md-offset-3">
          <p>
            Use this tool to test your extension’s compatibility with Firefox!
            To receive a report, upload your .crx file. We’ll also provide you with
            resources and instructions on submitting it to addons.mozilla.org (AMO).
          </p>
          <!-- <button class="hero__button mt2">Select .CRX File</button> -->

          <section class="upload mt4">
            <form ref='uploadForm' id='uploadForm' action='/upload'
                  method='post' encType="multipart/form-data">
              <input type="file" name="package" id="fileField"/>
              <button class="upload__button upload__button--select">Select .crx File</button>
              <button class="upload__button upload__button--upload">Submit .crx File</button>
              <h4 class="selected-file mt2"></h4>
            </form>
          </section>

          <div class="mt4">
            <a class="hero__learn" href="https://www.youtube.com/watch?v=f_8hVD88omo" target="_blank">Learn more about Firefox and WebExtensions</a>
          </div>

        </div>
      </div>
    </div>

    <script src="/js/upload.js"></script>

    <!-- FOOTER -->

  </body>
</html>
