<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Extension Compatibility Test for Firefox">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" sizes="196x196" href="/img/favicon.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Extension Compatibility Tester</title>
  </head>
  <body>

    <div class="hero hero--full text-center">
      <div class="container">
        <img class="hero__logo" src="/img/fflogo.png" alt="Firefox Logo"  />
        <h1 class="hero__title">Extension Compatibility Test for Firefox is moving!</h1>
        <div class="col-md-6 col-md-offset-3">
          <p>
            You can now test your extension's compatibility with Firefox on
            addons.mozilla.org (AMO). There you can upload your .crx extension
            package file to run a series of automated validation tests.
          </p>
          <p>
            <a class="hero__link" href="https://addons.mozilla.org/developers/addon/validate" target="_blank" rel="noopener noreferrer">Validate your extension on AMO now!</a>
          </p>

          <div class="mt4">
            <br>
            <br>
            <br>
            <a class="hero__link" href="https://extensionworkshop.com/documentation/develop/porting-a-google-chrome-extension/" target="_blank" rel="noopener noreferrer">Learn more about porting your extension to Firefox</a>
          </div>

        </div>
      </div>
    </div>

    <!-- FOOTER -->

  </body>
</html>
