<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" sizes="196x196" href="/img/favicon.png">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <script src="https://use.fontawesome.com/eae0c29172.js"></script>
    <title>Extension Compatibility Tester</title>
  </head>
  <body>
    <!-- LOADING SCREEN -->
    <section class="status">
      <div class="container">
        <img class="hero__logo" src="/img/fflogo.png" alt="Firefox Logo"  />
        <h1 class="hero__title">Extension Compatibility Test for Firefox</h1>
        <div class="status__animation">
        	<div class="status__spinner"></div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <h3 class="status__message mt4"></h3>
          <p class="status__notice mt4"></p>
        </div>
      </div>
    </section>
    <!-- END LOADING SCREEN -->

    <!-- START HERO SECTION -->
    <div class="hero text-center">
      <div class="container">
        <img class="hero__logo" src="/img/fflogo.png" alt="Firefox Logo"  />
        <h1 class="hero__title">Extension Compatibility Test for Firefox</h1>
        <i class="fa hero__icon mt6" aria-hidden="true"></i>
        <div class="col-md-10 col-md-offset-1 mt4">
          <p class="hero__result"></p>
        </div>
        <div class="hero__scroll">
          <p>Scroll down for your complete report and next steps</p>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <!-- END HERO SECTION -->

    <!-- START REPORT SECTION -->
    <div class="report">
      <div class="container">
        <h2 class="report__title"></h2>
        <p class="mb0 mt4"><strong>What are compatibility issues?</strong></p>
        <p>Compatibility issues warn about the usage of APIs or permissions not available in the latest version of Firefox.</p>
        <div class="report__summary"></div>
      </div>
    </div>
    <!-- END REPORT SECTION -->

    <!-- START DETAILS SECTION -->
    <div class="details">
      <div class="container">
        <details>
          <summary>
            <h2 class="details__title">Report Details</h2>
            <span class="details__expand">(click to expand)</span>
          </summary>
          <pre class="details__report"></pre>
        </details>
      </div>
    </div>
    <!-- END DETAILS SECTION -->

    <!-- START NEXT STEPS -->
    <div class="steps">
      <div class="container">
        <h2>Next Steps</h2>
        <ol class="steps__list">
          <li>
            <h4>Review and correct possible errors</h4>
            <p>Errors will prevent  your extension from being accepted on addons.mozilla.org (AMO). Review the above errors and make any necessary changes.</p>
          </li>
          <li>
            <h4>Re-test for compatibility</h4>
            <p>After you have corrected the possible errors, you can re-upload your .crx file to the extension compatibility tester to re-test for errors. If you believe you are good to go, then skip to the next step.</p>
          </li>
          <li>
            <h4>Test your extension in Firefox</h4>
            <p>We created this tool to help you find and fix compatibility issues, but nothing beats some good ol’ fashioned testing in the browser. Download the Firefox browser, load your extension, and give it a test.</p>
            <a href="https://www.mozilla.org/en-US/firefox/developer/" target=_blank>Download Firefox Nightly</a></br>
            <a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Temporary_Installation_in_Firefox" target=_blank>How to temporarily install extensions in Firefox</a>
          </li>
          <li>
            <h4>Publish your extension</h4>
            <p>Submit your extension to be listed on addons.mozilla.org (AMO) or sign and distribute your extension on your own.</p>
            <a href="https://oauth.accounts.firefox.com/v1/authorization?action=signin&scope=profile&state=546314609faabd431683ab26827c549f4bb9a06d0ca942d31630b474eab32851%3AL2VuLVVTL2RldmVsb3BlcnMv&redirect_url=https%3A%2F%2Faddons.mozilla.org%2Fapi%2Fv3%2Faccounts%2Fauthenticate%2F&client_id=a4907de5fa9d78fc" target=_blank>Sign in to publish your extension</a>
          </li>
        </ol>
      </div>
    </div>
    <!-- END NEXT STEPS -->

    <!-- FOOTER -->

    <script src="/js/dom.js"></script>
    <script src="/js/run.js"></script>
  </body>
</html>
