// Handle showing/hiding upload/select buttons
#fileField {
  display: none;
}

.upload__button {
  margin: 0 auto;
}

.upload__button--select {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: darken($white, 15%);
  }
}

.upload .upload__button--upload {
  display: none;
}

.upload.is-ready .upload__button--upload {
  display: block;
}

.upload.is-ready .upload__button--select {
  display: none;
}
