:root {
  --gray: #eee;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  font-size: 1.47rem;
  font-weight: 300;
}

h3 {
  font-size: 1.13rem;
  font-weight: 500;
}

h4 {
  font-size: .87rem;
}

ol {
  list-style-type: none;
  padding: 0;
}

.row > .section {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}

.row.highlight {
  background: var(--gray);
}

.header, .footer {
  text-align: center;
}

.footer {
  margin-top: auto;
}

.masthead {
  display: inline-block;
  padding-left: 64px;
  background-image: url('https://addons.cdn.mozilla.net/static/img/developers/addons-logo-black.svg?e67b4ad');
  background-size: 48px auto;
  background-position: left center;
  background-repeat: no-repeat;
}

pre {
  background: #eee;
  padding: 1em;
  border: 1px solid #aaa;
  white-space: pre-wrap;
}

.processing-status {
  text-align: center;
}

.results {
  display: none;
}
.complete .results {
  display: block;
}
.complete .processing-status {
  display: none;
}

.upload {
  text-align: center;
}
.upload button {
  cursor: pointer;
  font-size: 2em;
  padding: .2em 1em .3em;
  border: 3px solid currentColor;
  background: transparent;
  border-radius: 2em;
  line-height: 1;
}

summary {
  cursor: pointer;
}
summary > * {
  display: inline-block;
  vertical-align: middle;
}

#fileField {
  display: none;
}

.upload .file-ready {
  display: none;
}
.upload.ready .file-ready {
  display: block;
}
.upload.ready .file-select {
  display: none;
}
