// ----------------------------------------------------------------------------
// Shaaaaame
// ----------------------------------------------------------------------------
// Anything here should be temporary


// testing grids
.test {
  background-color: #000;
  color: white;
  margin: 0 gutter() / 2 1rem;
  float: left;
  padding: 1rem;
  text-align: center;
}
